@import "tailwindcss";
@theme {
    --color-floralwhite: #fffbf3;
    --color-dukeblue: #090c9b;
    --color-cerulean: #1282a2;
    --color-orange: #ff6201;
    --color-eblack: #1b1b1b;
    --color-honeydew: #fffeed;
}

@keyframes button-pulse-size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
button {
    @apply animate-[var(--button-pulse-size)];
    @apply rounded-lg;
}
:root {
    --button-pulse-size: button-pulse-size 2s cubic-bezier(0.4, 0, 0.6, 0.5)
        infinite;
}
input {
    @apply bg-floralwhite rounded-lg p-2;
    @apply mr-4 ml-4 mt-1 mb-1;
}
select {
    @apply bg-floralwhite rounded-lg p-2;
    @apply mr-4 ml-4 mt-1 mb-1;
}
.slideIn {
    animation: slideInAnimation 2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideInAnimation {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
.fadeIn {
    animation: fadeInAnimation 1.5s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
